@model YovevElectric.Web.ViewModels.Home.AllProductsViewModel;
@using Microsoft.AspNetCore.Identity;
@using YovevElectric.Common;
@using YovevElectric.Data.Models;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;
@{
    ViewData["Title"] = "Products";
    var counter = 0;
}


<section class="main-container col2-left-layout bounceInUp animated">
    <!-- For version 1, 2, 3, 8 -->
    <!-- For version 1, 2, 3 -->
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-9 col-sm-push-3 product-grid">
                <div class="pro-coloumn">
                    <article class="col-main">
                        <div class="toolbar">

                            <div id="sort-by">
                                <label class="left">Sort By: </label>
                                <ul>
                                    <li>
                                        <a href="#">Position<span class="right-arrow"></span></a>
                                        <ul>
                                            <li><a href="#">Name</a></li>
                                            <li><a href="#">Price</a></li>
                                            <li><a href="#">Position</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a>
                            </div>
                        </div>
                        <div class="category-products">
                            <ul class="products-grid">
                                @foreach (var product in Model.AllProducts)
                                {
                                    <li class="item col-lg-4 col-md-3 col-sm-4 col-xs-6">
                                        <div class="item-inner">
                                            <div class="item-img">
                                                <div class="item-img-info">
                                                    <a href="product-detail.html" title="Retis lapen casen" class="product-image"><img src="@product.ImgPath" alt="Retis lapen casen"></a>
                                                    <div class="item-box-hover">
                                                        <div class="box-inner">
                                                            <div class="add_cart">
                                                                <button class="button btn-cart" type="button"></button>
                                                            </div>
                                                            <div class="product-detail-bnt"><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="button detail-bnt"><span>Преглед</span></a></div>
                                                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                                            {
                                                                <div class="product-detail-bnt"><a href="/Administration/Administration/EditProduct?id=@product.Id" class="button edit-bnt"><span>Редактиране</span></a></div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title"><a href="product-detail.html" title="Retis lapen casen">@product.Title</a> </div>
                                                    <div class="item-content">

                                                        <div class="item-price">
                                                            <div class="price-box"><span class="regular-price"><span class="price">@product.Price лв.</span> </span> </div>
                                                        </div>
                                                        <div class="other-info">
                                                            <div class="col-km"><i class="fa fa-tachometer"></i> 4875km</div>
                                                            <div class="col-engine"><i class="fa fa-gear"></i> Automatic</div>
                                                            <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i> 2018</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                }


                            </ul>
                        </div>
                        <div class="toolbar bottom">

                            <div id="sort-by">
                                <label class="left">Sort By: </label>
                                <ul>
                                    <li>
                                        <a href="#">Position<span class="right-arrow"></span></a>
                                        <ul>
                                            <li><a href="#">Name</a></li>
                                            <li><a href="#">Price</a></li>
                                            <li><a href="#">Position</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a>
                            </div>
                            <div class="pager">                                
                                <div class="pages">
                                    <label>Page:</label>
                                    <ul class="pagination">
                                        @if (Model.CurrentPage == 1)
                                        {
                                            <li><a class="disabled">&laquo;</a></li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a asp-area=""
                                                   asp-controller="Products"
                                                   asp-action="Products"
                                                   asp-route-page="@(Model.CurrentPage - 1)"
                                                   asp-route-category="@this.ViewData["category"]"
                                                   asp-route-subCategory="@this.ViewData["subCategory"]">&laquo;</a>
                                            </li>
                                        }

                                        @for (int i = 1; i <= Model.PagesCount; i++)
                                        {
                                            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
                                            <li class="@active">
                                                <a asp-area=""
                                                   asp-controller="Products"
                                                   asp-action="Products"
                                                   asp-route-page="@i"
                                                   asp-route-category="@this.ViewData["category"]"
                                                   asp-route-subCategory="@this.ViewData["subCategory"]">@i</a>
                                            </li>
                                        }
                                        @if (this.Model.CurrentPage == this.Model.PagesCount)
                                        {
                                            <li><a class="disabled">&raquo;</a></li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a asp-area=""
                                                   asp-controller="Products"
                                                   asp-action="Products"
                                                   asp-route-page="@(Model.CurrentPage + 1)"
                                                   asp-route-category="@this.ViewData["category"]"
                                                   asp-route-subCategory="@this.ViewData["subCategory"]">&raquo;</a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </article>
                </div>
                <!--	///*///======    End article  ========= //*/// -->
            </div>
            <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">

                <!-- BEGIN SIDE-NAV-CATEGORY -->
                <div class="side-nav-categories">
                    <div class="block-title"> Categories </div>
                    <!--block-title-->
                    <!-- BEGIN BOX-CATEGORY -->
                    <div class="box-content box-category">
                        <ul>
                            <form method="post" id="form"></form>
                            @foreach (var category in Model.Categories)
                            {
                                <li>
                                    <a class="active" asp-area="" asp-controller="Products" asp-action="Products" asp-route-category="@category.Name">@category.Name</a> <span onclick="loadSubCategoriesToSideBar('@category.Name',@counter)" class="subDropdown plus"></span>
                                    <ul  style="display:none" id="subCategories@(counter++)"></ul>                                   
                                </li>
                            }

                        </ul>

                    </div>
                    <!--box-content box-category-->
                </div>
                <!--side-nav-categories-->



                <div class="block block-list block-cart">
                    <div class="block-title"> My Cart </div>
                    <div class="block-content">
                        <div class="summary">
                            <p class="amount">There is <a href="#">1 item</a> in your cart.</p>
                            <p class="subtotal"> <span class="label">Cart Subtotal:</span> <span class="price">$299.00</span> </p>
                        </div>
                        <div class="ajax-checkout">
                            <button type="button" title="Checkout" class="button button-checkout" onClick="#"> <span>Checkout</span> </button>
                        </div>
                        <p class="block-subtitle">Recently added item(s)</p>
                        <ul id="cart-sidebar" class="mini-products-list">
                            <li class="item">
                                <div class="item-inner">
                                    <a href="#" class="product-image"><img src="products-images/p1.jpg" width="80" alt="product"></a>
                                    <div class="product-details">
                                        <div class="access">
                                            <a href="#" class="btn-remove1">Remove</a>
                                            <a href="#" title="Edit item" class="btn-edit">
                                                <i class="icon-pencil"></i><span class="hidden">Edit item</span>
                                            </a>
                                        </div>
                                        <!--access-->

                                        <strong>1</strong> x <span class="price">$299.00</span>
                                        <p class="product-name"><a href="#">Gorgeous Mercedes-Benz E-Class All-Terrain Luxury</a></p>
                                    </div>
                                    <!--product-details-bottoms-->
                                </div>
                            </li>
                            <li class="item  last1">
                                <div class="item-inner">
                                    <a href="#" class="product-image"><img src="products-images/p2.jpg" width="80" alt="product"></a>
                                    <div class="product-details">
                                        <div class="access">
                                            <a href="#" class="btn-remove1">Remove</a>
                                            <a href="#" title="Edit item" class="btn-edit">
                                                <i class="icon-pencil"></i><span class="hidden">Edit item</span>
                                            </a>
                                        </div>
                                        <!--access-->

                                        <strong>1</strong> x <span class="price">$299.00</span>
                                        <p class="product-name"><a href="#">Gorgeous Mercedes-Benz E-Class All-Terrain Luxury</a></p>
                                    </div>
                                    <!--product-details-bottoms-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <!--col-right sidebar-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</section>
<!--main-container col2-left-layout-->
