@using YovevElectric.Common
@using YovevElectric.Data.Models
@using Microsoft.AspNetCore.Identity
@using YovevElectric.Services.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/stylesheet/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/font-awesome.css" media="all" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/bootstrap-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/revslider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/owl.carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/owl.theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/jquery.bxslider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/jquery.mobile-menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/style.css" media="all" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/responsive.css" media="all" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,800" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div id="page">
        <header>
            <div class="container">
                <div class="row">
                    <div id="header">
                        <div class="header-container">
                            <div class="header-logo">
                                <a class="logo">
                                    <div><img src="~/images/yovev2.png" style="width:230px;" alt="logo"></div>
                                </a>
                            </div>
                            <div class="header__nav">
                                <div class="header-banner">
                                    <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                        <div class="assetBlock">
                                            <div style="height: 20px; overflow: hidden;" id="slideshow">
                                                @*<p style="display: block;">Hot days! - <span>50%</span> Get ready for summer! </p>
                                                    <p style="display: none;">Save up to <span>40%</span> Hurry limited offer!</p>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-lg-6 col-xs-12 col-sm-6 col-md-6 call-us"><i class="fa fa-clock-o"></i> Понеделни - Събота : от 8:30 до 18:30 <i class="fa fa-phone"></i>0888888888</div>
                                </div>
                                <div class="fl-header-right">
                                    <div class="fl-links">
                                        <div class="no-js">
                                            <a title="" class="clicker"></a>
                                            <div class="fl-nav-links">

                                                @if (this.SignInManager.IsSignedIn(this.User))
                                                {
                                                    <ul class="links">
                                                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                                        {
                                                            <li><span> <h3>Админ</h3></span></li>
                                                            <li><a asp-area="Administration" asp-controller="Administration" asp-action="CreateProduct"><span>Добави продукт</span></a></li>
                                                            <li><a asp-area="Administration" asp-controller="Administration" asp-action="CreateCategory"><span>Добави категория</span></a></li>
                                                            <li><a asp-area="Administration" asp-controller="Administration" asp-action="CreateSubCategory"><span>Добави подкатегория</span></a></li>
                                                            <li><a asp-area="Administration" asp-controller="Administration" asp-action="AllCategoriesAndSubCategories"><span>Всички категории и подкатегория</span></a></li>
                                                            <li><a asp-area="Administration" asp-controller="Administration" asp-action="Orders"><span>Поръчки</span></a></li>
                                                            <li><a asp-area="Administration" asp-controller="Administration" asp-action="Discounts"><span>Отстъпки</span></a></li>
                                                        }
                                                    </ul>
                                                    <a><h3>Профил</h3></a>
                                                    <ul class="links">
                                                        <li><a asp-area="" asp-controller="MyAccount" asp-action="ChangePassword"><span>Промени парола</span></a></li>
                                                        <li><a asp-area="" asp-controller="MyAccount" asp-action="DeleteAccount"><span> Изтрии акаунт</span></a></li>
                                                    </ul>
                                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                                                        <br />
                                                        <button style="float: right;" type="submit" class="nav-link btn btn-link text-dark">Изход</button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <ul class="links">
                                                        <li><a asp-area="Identity" asp-controller="Account" asp-action="Login">Вход</a></li>
                                                        <li><a asp-area="Identity" asp-controller="Account" asp-action="Register" title="Wishlist">Регистрация</a></li>
                                                    </ul>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-cart-contain">
                                        <div class="mini-cart">
                                            <div class="basket"> <a asp-area="" asp-controller="Bag" asp-action="Bag"></a> </div>
                                        </div>
                                    </div>
                                    <div class="collapse navbar-collapse">
                                        <form class="navbar-form" role="search" method="get" asp-area="" asp-controller="Products" asp-action="Products" id="searchForm">
                                            <div class="input-group">
                                                <input type="search" class="form-control" placeholder="Търси по име" name="title" id="titleInput" onkeypress="searchByTitle()">
                                                <span class="input-group-btn">
                                                    <button type="submit" role="search" class="search-btn"> <span class="glyphicon glyphicon-search"> <span class="sr-only">Търси</span> </span> </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="fl-nav-menu">
                                    <nav>
                                        <div class="mm-toggle-wrap">
                                            <div class="mm-toggle"><i class="fa fa-bars"></i><span class="mm-label">Menu</span> </div>
                                        </div>
                                        <div class="nav-inner">
                                            <!-- BEGIN NAV -->
                                            <ul id="nav" class="hidden-xs">
                                                <li> <a class="level-top" asp-area="" asp-controller="Home" asp-action="Index"><span>Начална страница</span></a></li>
                                                <li> <a class="level-top" asp-area="" asp-controller="Products" asp-action="Products"><span>Всички артикули</span></a></li>
                                            </ul>
                                            <!--nav-->
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div>
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @this.RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">

            <!-- BEGIN INFORMATIVE FOOTER -->


            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12 col-lg-4">
                        <div class="co-info">
                            <h4>За нас</h4>
                            <address>
                                <div>
                                    <span>
                                        Булевард Христо Ботев 16, гр. Лясковец
                                    </span>
                                </div>
                                <div> <span> +1 800 789 0000</span></div>
                                <div> <span><a>yovevelectric2@gmail.com</a></span></div>
                                <div> <span>Понеделни - Събота : от 8:30 до 18:30</span></div>
                            </address>
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-12 col-lg-8">
                        <div class="footer-column">

                        </div>
                        <div class="footer-column">
                            <h4>Информация</h4>

                            <ul class="links">
                                <li><a asp-area="" asp-controller="Home" asp-action="Shippment">Доставка и плащане</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Refusal">Право на отказ</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="TermsAndConditionsOfUse">Правила за ползване на сайта</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="CookiePolicy">Политика за бисквитки ("cookies")</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="LegalNotice">Решаване на спорове</a></li>
                            </ul>
                        </div>
                        <div class="footer-column">
                            <h4>Полезно</h4>
                            <ul class="links">
                                <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">За нас</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="SiteMap">Карта на сайта</a></li>
                                <li><a href="#">Отстъпки</a></li>
                            </ul>
                        </div>
                    </div>

                    <!--col-sm-12 col-xs-12 col-lg-8-->
                    <!--col-xs-12 col-lg-4-->
                </div>
                <!--row-->

            </div>

            <!--container-->
    <!--footer-inner-->

    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="social">
                        <ul>
                            <li class="fb"><a></a></li>
                            <li class="googleplus"><a></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 coppyright"><a>YovevElectric</a></div>
                <div class="col-xs-12 col-sm-4">
                    <div class="payment-accept"> <img src="~/images/payment-1.png" alt=""> </div>
                </div>
            </div>
        </div>
    </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript" src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-slider.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-select.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/parallax.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/revslider.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/common.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/jquery.bxslider.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/jquery.mobile-menu.min.js" asp-append-version="true"></script>
    <script src="~/js/countdown.js" asp-append-version="true"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#rev_slider_4').show().revolution({
                dottedOverlay: 'none',
                delay: 5000,
                startwidth: 1170,
                startheight: 650,

                hideThumbs: 200,
                thumbWidth: 200,
                thumbHeight: 50,
                thumbAmount: 2,

                navigationType: 'thumb',
                navigationArrows: 'solo',
                navigationStyle: 'round',

                touchenabled: 'on',
                onHoverStop: 'on',

                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,

                spinner: 'spinner0',
                keyboardNavigation: 'off',

                navigationHAlign: 'center',
                navigationVAlign: 'bottom',
                navigationHOffset: 0,
                navigationVOffset: 20,

                soloArrowLeftHalign: 'left',
                soloArrowLeftValign: 'center',
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: 'right',
                soloArrowRightValign: 'center',
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,

                shadow: 0,
                fullWidth: 'on',
                fullScreen: 'off',

                stopLoop: 'off',
                stopAfterLoops: -1,
                stopAtSlide: -1,

                shuffle: 'off',

                autoHeight: 'off',
                forceFullWidth: 'on',
                fullScreenAlignForce: 'off',
                minFullScreenHeight: 0,
                hideNavDelayOnMobile: 1500,

                hideThumbsOnMobile: 'off',
                hideBulletsOnMobile: 'off',
                hideArrowsOnMobile: 'off',
                hideThumbsUnderResolution: 0,

                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
                fullScreenOffsetContainer: ''
            });
        });
    </script>
    <script type="text/javascript">
        function HideMe() {
            jQuery('.popup1').hide();
            jQuery('#fade').hide();
        }
    </script>
    <script>
        var dthen1 = new Date("12/25/17 11:59:00 PM");
        start = "08/04/15 03:02:11 AM";
        start_date = Date.parse(start);
        var dnow1 = new Date(start_date);
        if (CountStepper > 0)
            ddiff = new Date((dnow1) - (dthen1));
        else
            ddiff = new Date((dthen1) - (dnow1));
        gsecs1 = Math.floor(ddiff.valueOf() / 1000);

        var iid1 = "countbox_1";
        CountBack_slider(gsecs1, "countbox_1", 1);
    </script>

    @this.RenderSection("Scripts", required: false)
    </div>
    <div id="mobile-menu">
        <ul>
            <li>
                <div class="mm-search">
                    <form id="search1" name="search" asp-area="" asp-controller="Products" asp-action="Products" method="get">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> </button>
                            </div>
                            <input type="text" class="form-control simple" placeholder="Търси по име" name="title" id="srch-term">
                        </div>
                    </form>
                </div>
            </li>
            <li> <a class="level-top" asp-area="" asp-controller="Home" asp-action="Index"><span>Начална страница</span></a></li>
            <li> <a class="level-top" asp-area="" asp-controller="Products" asp-action="Products"><span>Всички артикули</span></a></li>
        </ul>
    </div>
</body>
</html>
