@model YovevElectric.Web.ViewModels.Product.EditProductModel;
@using YovevElectric.Data.Models;
@{
    ViewData["Title"] = "EditProduct";
}
<body onload="loadImg('editProduct')">
    <div id="page">
        <section class="main-container col2-right-layout">
            <div class="main container">
                <div class="row">
                    <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                        <div class="my-account">

                            <div class="box-account">
                                <div class="page-title">
                                    <h2>Редактиране</h2>
                                </div>
                                <partial name="EditImg">
                                <form id="form" asp-area="Administration" asp-controller="Administration" asp-action="EditProduct" asp-route-id="@Model.EditProductInputModel.Id" method="post" class="form">
                                    <div class="form-group">
                                        <label asp-for="@Model.EditProductInputModel.Title">Заглавие</label>
                                        <input asp-for="@Model.EditProductInputModel.Title" type="text" placeholder="Заглавие" class="form-control">
                                        <span asp-validation-for="@Model.EditProductInputModel.Title" class="text-danger" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@Model.EditProductInputModel.Description">Описание</label>
                                        <input asp-for="@Model.EditProductInputModel.Description" type="text" placeholder="Описание" class="form-control">
                                        <span asp-validation-for="@Model.EditProductInputModel.Description" class="text-danger" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@Model.EditProductInputModel.Category">Категория</label>
                                        <select asp-for="@Model.EditProductInputModel.Category" class="form-control" asp-items="@Html.GetEnumSelectList<Categories>()"></select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@Model.EditProductInputModel.Price">Цена</label>
                                        <input asp-for="@Model.EditProductInputModel.Price" type="number" placeholder="Цена" class="form-control">
                                        <span asp-validation-for="@Model.EditProductInputModel.Price" class="text-danger" />
                                    </div>

                                    <button type="submit" title="submit" class="button"><span>Редактиране</span></button>
                                    @*<a href="/Administration/Img/EditImg?id=@Model.Id">Редактиране на снимка</a>*@

                                </form>


                            </div>
                        </div>
                    </section>
                    <partial name="_AccountNavPartial" />
                </div>
            </div>
        </section>
    </div>
</body>
