@model YovevElectric.Web.ViewModels.Bag.AllSentBagsViewModel;
@{
    ViewData["Title"] = "Orders";
}

<body>
    <div id="page">


        <!-- BEGIN Main Container col2-right -->
        <section class="main-container col2-right-layout">
            <div class="main container">
                <div class="row">
                    <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                        <div class="my-account">

                            <!--page-title-->
                            <!-- BEGIN DASHBOARD-->
                            <div class="dashboard">
                                
                                <div class="recent-orders">
                                    <div class="table-responsive">
                                        <table class="data-table table-striped" id="my-orders-table">
                                            <colgroup>
                                                <col width="">
                                                <col width="">
                                                <col>
                                                <col width="1">
                                                <col width="1">
                                                <col width="20%">
                                            </colgroup>
                                            <thead>
                                                <tr class="first last">
                                                    <th>Дата на изпращане</th>
                                                    <th>Име</th>
                                                    <th>Фамилия</th>
                                                    <th>Телефон</th>
                                                    <th>Нова</th>                                                   
                                                    <th>&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                    @foreach (var bag in Model.Bags)
                                                    {
                                                        <tr class="first odd">
                                                            <td><span class="nobr"><time datetime="@(bag.DateOfSent.ToString("O"))"></time></span></td>
                                                            <td>@bag.OrderDataFirstName</td>
                                                            <td>@bag.OrderDataLastName</td>
                                                            <td>@bag.OrderDataMobileNumber</td>
                                                            <td><em>@(bag.IsNew ? "Нова поръчка" : "видяна")</em></td>
                                                            <td class="a-center last details">
                                                                <span class="nobr">
                                                                    <a data-toggle="tooltip" data-placement="top" title="Details" style="display:inline-block;margin-left:10px;" asp-area="Administration" asp-controller="Administration" asp-action="OrderDetails" asp-route-id="@bag.Id"><img class="iconClass" src="~/images/detailsIcon.png"></a>                                                                    
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    }
                                                


                                            </tbody>
                                        </table>
                                    </div>
                                    <!--table-responsive-->
                                </div>
                            </div>
                        </div>
                    </section>
                    <partial name="_AccountNavPartial" />

                </div>
            </div>
        </section>


    </div>

</body>


